SERVER_PORT=:8090

POSTGRES_DSN=postgres://postgres:root@postgres-tasks:5432/tasks

APP_ENV=development

MONGO_URI=mongodb://mongo:27017

MONGO_DB_NAME=todo_notes

REDIS_ADDR=redis-tasks:6379

NATS_URL=nats://nats:4222

AUTH_GRPC_ADDR=auth_service:50051