SERVER_PORT=:8092
MONGO_URI=mongodb://mongo:27017
MONGO_DB_NAME=notifier_db
MONGO_DEADLINE_COLLECTION=task_deadlines
MONGO_COLLECTION=notifications
NATS_URL=nats://nats:4222
AUTH_GRPC_ADDR=auth_service:50051
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=noreply@todo.local
APP_ENV=development