SERVER_PORT=:8091

POSTGRES_DSN=postgres://postgres:root@postgres-auth:5432/users

JWT_SECRET=bebebebbabaababa229138129038

JWT_REFRESH_SECRET=dfiipwhwerbjhueruiyjkweruilgbhrtguier34895

APP_ENV=development

REDIS_ADDR=redis-auth:6379

GRPC_PORT=:50051