SERVER_PORT=:8090

POSTGRES_DSN=postgres://postgres:root@localhost:5432/todo_app

JWT_SECRET=bebebebbabaababa229138129038

APP_ENV=development

MONGO_URI=mongodb://127.0.0.1:27017

MONGO_DB_NAME=todo_notes

REDIS_ADDR=localhost:6379

NATS_URL=nats://localhost:4222